# GitLab Connection
VITE_GITLAB_URL=
VITE_GITLAB_GROUP_ID=your-group-id

# Authentication - Personal Access Token (Mode 1)
VITE_GITLAB_TOKEN=

# Authentication - OAuth2 (Mode 2)
VITE_GITLAB_CLIENT_ID=
VITE_GITLAB_REDIRECT_URI=
